@model ProjetoBancoDados.Models.ObraDeArte

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Obra de Arte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacaoObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacaoObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TecnicaObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TecnicaObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artista.NomeArtista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lugar.NomeLugar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ObraDeArteId">Editar</a> 
    <a asp-action="Index" class="btn btn-primary">Voltar à lista</a>
</div>
